<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
    body{
      background-image: url("https://th.bing.com/th/id/R.cca644e6b6a03504af9d0a97e1779e69?rik=d21u%2fQJ1zf6iWQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fab7sX4F.jpg&ehk=ITEaYphxvFP0k9%2fwmdpEfCToLg2%2fSVy8DKnSRi45cd0%3d&risl=&pid=ImgRaw&r=0");
    }
  </style>
  <title>MY HOME PAGE</title>
</head>
<body>
	<div class="container">
			
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Crime Rate Analysis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/first">For The Age Group Of 18-30 Years <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/second">For The Age Group Of 30-50 Years</a>
      <a class="nav-item nav-link" href="/third">For The Age Group Above 50 Years</a>
    </div>
  </div>
</nav>
<br>
<br>
       <div class="first">
       <p>
       	Crime, nowadays everyone is concerned about crimes happening around our society. These crime may vary from a small pick pocketing to severe crimes like murder,robbbing, rapes etc. Like we know that wherever we are we are not free from crimes. So, it is our responsibilty to avoid these crimes and protect our loved ones. Likewise there are many countries in this world. In every country there is a strain of crime, whether small crimes or large crimes, small in number or very big in number.
       </p>
       <p>
       	Likewise, in India also there is plenty of crimes like any other places in the world. Our law system is trying its best to reduce the number of crimes in a year. So, the number of crimes in a year in India may not be the same. It may rise or fall depending upon the states.
       </p>
       <p>
       	So, being a tourist or a resident across the respective states in India, everyone should be concerned about the crime rates whether it is a small crime like pickpocketing or big crimes like murder!!
       </p>
       <p>
         This website is kind of a simple and responsible website, that gives a person the idea of the murder crimes happening across different states in India. An User can browse and see the number of unfortunate victims of murder crimes across different states for a year. This website has collected the distorted data present in the internet and preprocesses those data and present those data that is the number of victims in the form of an attractive user interface.
       </p>
       <p>
         <strong><i>HOPE THAT OUR EFFORTS WILL BE HELPFUL TO PEOPLE WHO ARE WILLING TO TRAVEL OR WHO ARE LIVING IN THESE RESPECTIVE STATES OR UNION TERRITORIES. THANK YOU!!</i></strong>
       </p>
   </div>
   </div>


		
        </div>
		
	</div>

</body>
</html>