<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		body{
			background-image: url("https://th.bing.com/th/id/R.d9aa1842c9020186e23eb785da400312?rik=6k6OgcJAt18eIQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fh31LwdM.jpg&ehk=3V2%2fUacq30Tsy05C8SELZQrXBVFa9f5uWMizXFLSUPc%3d&risl=&pid=ImgRaw&r=0");
		}
	</style>
	<title>VICTIMS OF AGE GROUP BETWEEN 30-50 YEARS</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>
    <h3><i>{{prediction_text}}</i></h3>
		
	</div>

</body>
</html>